.box{
  /* display: flext; */
  margin-top: 25px;
  margin-bottom:25px;
  width: 45%;
  background-image: url('./bgc1.webp');
  background-size: cover;
  background-position: center;
}
@media (min-width: 768px) {
    .box {
      margin-top:25px;
      margin-bottom:25px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      max-width: 100%; /* Set your desired max width for the card container */
      margin: 0 auto;
    }
    
    .card {
      width: calc(60% - 10px); /* Subtract margin or padding as needed */
      margin-bottom: 20px;
      margin-top: 20px;
    }
    .box{
      margin-bottom:25px;
      width: 32%;
      background-image: url('./bgc1.webp');
      background-size: cover;
      background-position: center;
    }
  }
  @media (max-width: 767px) {
    .box {
      /* padding: 2; */
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      /* max-width: 100%; Set your desired max width for the card container */
      /* margin: 0 auto; */
      margin-top:'10px';
    }
    .card {
      width: calc(100% - 10px); /* Subtract margin or padding as needed */
      margin-bottom: 20px;
    }
  }